
#menu ul {
    text-decoration: none;
    list-style: none;
    line-height: 50px;
}
#menu{
    height: 50px;
}
.item{
    height: 150px;
}
footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.lateral{
    height: 250px;
}
.lateral > div{
    height: calc(250px/3);
}
.index{
    z-index:1000000;
}

    .dropdown-menu[data-bs-popper] {
        top: 100%;
        left: -1.50rem;
        margin-top: .125rem;
    }
@media (max-width: 768px) {
    #menu{
        height: auto;
    }
}

